<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToe</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
</head>
<body>
    <header>
        <h1>TicTacToe</h1>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>