{% load static %}
<div>
    <div>
        Turn: <span class="current-player"></span>
    </div>
    <div class="board">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div id="game-message">Hello</div>
</div>
<canvas id="confetti-canvas"></canvas> <!-- ref. https://code-garage.fr/blog/creer-une-explosion-de-confettis-en-js-en-quelques-secondes/ -->
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
<script src="{% static 'js/confetti.js' %}"></script>