{% extends "tictactoe/base.html" %}

{% load static %}

{% block content %}
<main>
    <div>
        Playing offline.
        {% include "tictactoe/game.html" %}
        <script defer src="{% static 'js/game.js' %}"></script>
        <script defer src="{% static 'js/offline.js' %}"></script>    
    </div>
    <div>
        <button id="reset-button" type="button" class="button secondary">Reset</button>
        <input type="text" name="room-id" placeholder="Room"/>
        <a id="online-button" type="button" class="button online">Play Online</a>
    </div>
</main>
{% endblock %}

