{% extends "tictactoe/base.html" %}
{% load static %}
{% block content %}
    <main>
        {{ room_name|json_script:"room-name" }}
        {{ player|json_script:"player" }}
        {{ current_state|json_script:"previous_state"}}
        <div class="flex col">
            <div>
                You:
                <span>
                    {% if player == "O" %}
                    ◯
                    {% else %}
                    ⨯
                    {% endif %}
                </span>
            {% include "tictactoe/game.html" %}
            </div>
            <div>
            </div>
            <div class="controls">
                <a class="button" href="{% url 'new' %}">New Game</a>
                <a class="button secondary" href="{% url 'home' %}">Go Offline</a>
            </div>
        </div>
        <script defer src="{% static 'js/game.js' %}"></script>
        <script defer src="{% static 'js/socket.js' %}"></script>
        <script defer src="{% static 'js/online.js' %}"></script>
    </main>
{% endblock %}